body {
  background: #013328;
  font-family: roboto;
  color: #e3dcd2;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #cc8b65;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 5px;
  margin: 1.5em 0em;
}
* {
  margin: 0;
}
button {
  cursor: pointer;
}
/**** header ******/

header {
  width: 80%;
  margin: 2em 0em 4em 0em;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav li {
  display: inline;
  float: right;
}
.nav li a {
  margin-left: 1em;
  color: #e3dcd2;
  display: block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 0.1em solid #cc8b65;
}
li a:hover:not(.active) {
  background-color: #cc8b65;
  color: #e3dcd2;
}
.active {
  background-color: #04aaaa;
}
@media screen and (max-width: 600px) {
  .none li {
    float: none;
  }
}

/**** Profil ******/

.btn-submit {
  background-color: #013328;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #e3dcd2;
  display: inline-flex;
  height: 48px;
  padding: 16px 16px;
  position: relative;
  transition: box-shadow .15s,transform .15s;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 40%;
}

.btn-submit:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn-submit:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-submit:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.profil {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  margin: 4em 0em 0em;
}

.profil-picture {
  border-style: outset;
  border-width: 1em;
  border-bottom: 1em;
  border-right: 1em;
  border-color: #cc8b65;
  border-radius: 25%;
  width: 250px;
}

.textprofil-btn {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: flex-start;
  justify-content: space-around;
  width: 45%;
}
.textprofil {
  display: flex;
  flex-wrap: wrap;

  align-items: flex-end;
  gap: 0.3em;
}
.nom {
  color: #cc8b65;
  font-size: 1.3em;
  font-weight: bold;
}

.btn-detailprofile {
	background: #011d17;
	font-weight: 700;
	padding: 0;
	border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 1px solid #e3dcd2 ;
}

.btn-detailprofile span {
	display: block;
  color: #e3dcd2;
	background: #cc8b65;
	padding: 0.7em 1.5em;
	border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
	transform: translate3d(-4px, -4px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.btn-detailprofile:hover span {
	transform: translate3d(-8px, -8px, 0);
}

/**** abou me ******/

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-flex > p{
  margin: 0.5em 0em;
}
.langage_grid{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  column-gap: 4em;
  padding: 10px;
  margin: 2em 0em;
  width: 80%;
  
}
.langage_grid > div{
  width: 12em;
  height: 9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#e3dcd2 ;
  border-radius: 1em;
  z-index: 1;
  color: #013328;
  letter-spacing: 3px;
  fill: #013328;
  box-shadow: 9px 9px 9px 9px #011d17
}
.langage_grid > div:hover{
  color: #cc8b65;
  fill: #cc8b65;
  z-index: 6;
  box-shadow: 4px 4px 4px 4px #cc8b658c
}
.logo_tech{
  width: 5em;
}
.logo_tech1{
  width: 4em;
}

.titre_tech{
  font-weight: bold;
  /* color:#e3dcd2; */
  margin-top: 1em;
}
.titre_tech:hover{
  color: #cc8b65;
}
iframe{
  border-radius: 1em;
  margin-top: 1.5em;
  box-shadow: 9px 9px 9px 9px #011d17;
}
/**** my work ******/
#work{
  width: 80%;
  font-family: roboto;
  display:flex;
  flex-direction: column;
  gap:2em;

}
#work div{
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #e3dcd2;
  color: #013328;
  border-radius: 10px;
  box-shadow: 9px 9px 9px 9px #011d17;
}
.experience h3, .projet h3{
  display: flex;
  font-size: 25px;
background-color:#cc8b6563;
  width: 9em;
  height: 4em;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}
.experience h3{
  border-right: 5px solid #013328;
}
.projet h3{
  border-left: 5px solid #013328;
}
.projet{
  flex-direction: row-reverse;
  gap: 3em;
  margin-top: 10px;
}
.experience ul li, .projet ul li{
  list-style: none;
  margin: 15px 0px;
}
.projet ul li{
  align-items: flex-start;
  text-decoration: none;
}
.projet ul, .experience ul{
  text-decoration: none;
}
/**** my resume ******/
.btn-resume {
	background: #011d17;
	font-weight: 700;
	padding: 0;
	border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 1px solid #e3dcd2 ;
}

.btn-resume span {
	display: block;
  color: #e3dcd2;
	background: #cc8b65;
	padding: 0.7em 1.5em;
	border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
	transform: translate3d(-4px, -4px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.btn-resume:hover span {
	transform: translate3d(-8px, -8px, 0);
}


/**** footer ******/
footer {
  width: 100%;
  background-color:#e3dcd2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  position: relative;
  bottom: 0em;
  height: 32em;
}
#contact{
  width: 80%;
}


form{
  width: 60%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 2em;
}



.remplir{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5em;
  border-radius: 15px;
  background-color:#e3dcd2;
  padding: 20px;
  box-shadow: 0.3em 0.3em 0.3em 0.3em #01271f;
  margin-bottom: 2em;
}
.contact_flex{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input[type=text],input[type=email], select, textarea {
  font-family: roboto;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #317773;
  border-radius: 6px;
  box-sizing: border-box;
  
}


textarea:focus, input:focus, select:focus { 
  outline: none ;
  border-color: #56aaa6;
  box-shadow: 0 0 10px #56aaa6;
}

input::placeholder, textarea::placeholder {
  color: #317773;
  opacity: 1;
}

input:placeholder-shown {
  border: 1px solid #317773;
}
/* input[type=submit] {
  width: 100%;
  background-color:#013328;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

textarea {
  height: 80px;
  resize: none;
}
.parle{
  margin-top: 3em;
  color: #013328 ;
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  width: 40%;
}
.text_footer{
  color: #013328;
  font-family: roboto;
  font-size: 2.4em;
  font-weight: 900;
  margin-top: 5px;
}
div h5{
  margin-top: 25px;
  font-size: 1.1em;
}

.mailing{
  font-family: roboto;
  font-size: 1em;
  font-weight: 700;
  color: #013328;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2em;
  background-color: #e3dcd2 ;
  border-radius: 6px;
  width: 18em;
  height: 4em;
  box-shadow: 2px 2px 2px 2px   #01271f;
  text-decoration: none;
}
.mailing>div{
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #013328;
}

/**** Svg ******/
.mailing>div>svg{
  width: 25px;
  fill: #e3dcd2;
  
 }

.social{
  position: fixed;
  right: 0px;
  top: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-evenly;
  align-items: flex-end;
}
.social_icon{
  display: flex;
  align-items: center;
  background-color:#cc8b65;
  padding: 4px 16px;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  width: 30px;
  transition: width 0.5s;
  
}
.social_icon svg{
  width: 30px;
  fill:#e3dcd2;
}
.social_icon:hover{
  background-color:#e3dcd2;
  
  width: 50px;
}
.social_icon:hover  svg{
  fill:#cc8b65;
}
.leaf1{
  position: absolute;
  top: 18em;
  left: 65em;
  fill: #317773;
  width: 5em;
}
.down {
  width: 40px;
  fill: #e3dcd2;
  margin: 6em 0em;
  -webkit-filter: drop-shadow(5px 5px 5px 5px rgba(1,29,23));
  filter: drop-shadow(5px 5px 5px 5px rgba(1,29,23)); 
}
.up {
  position: fixed;
  bottom: 10px;
  float: left;
  left: 2%;
  width: 40px;
  fill:#cc8b65;
  margin: 6em 0em;
  z-index: 2;
  filter: drop-shadow(5px 5px 5px 5px #011d17); 
}

